@font-face {
    font-weight: 400;
    font-family: "Karla", sans-serif;
    src: url("../fonts/Karla-Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: "Karla", sans-serif;
    src: url("../fonts/Karla-Bold.ttf");
}