@use "../mixins";

.mobile{
    display: none;
}
.header{
    @include mixins.flexify(space-between, center);
    height: 10vh;
    &__logo{
        &__img{
            display: block;
        }
    }

    &__navbar{
        margin-left: auto;
        margin-right: 30px;
    }

    .nav{
        @include mixins.flexify(initial, center);
        list-style: none;
        column-gap: 25px;
        &__item{


        }

        &__link{
            text-decoration: none;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1.5px;
            color: #837D88;

        }
    }   
    &__view{
        border: 1.5px solid #2C2830;
        padding: 13px 28.5px;
        text-decoration: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1.5px;
        color: #2C2830;

    }
    &__toggle{
        display: none;
    }
}

@media screen and (max-width: 1090px) {
    .header{
        .nav{
            &__link{
                font-size: 10px;
            }
        }

        &__view{
            padding: 7px 15px;
        }
    }
}

// @media screen and (min-width: 1200px) {
    
// }
@media screen and (max-width: 610px) {
    .header{
        .nav{
            display: none;
        }
        &__view{
            display: none;
        }
        &__toggle{
            width: 32px;
            height: 24px;
            @include mixins.flexify(space-evenly, center);
            flex-direction: column;
            position: relative;


            &:after, &::before, & > span{
                position: absolute;
                transition: all .5s;
                content: "";
                width: 100%;
                height: 2px;
                background-color: black;
            }

            &::before{
                top: 0;
            }
            
            &:after{
                bottom: 0;
            }

            &--active{
                & > span{
                    // display: none;
                    opacity: 0;
                }

                &::after, &::before{
                    top: 50%;
                }
                &::after{
                    transform: rotate(45deg);
                }
                &::before{
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .mobile{
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #2C2830;
        padding: 20px;
        &--open{
            opacity: 1;
            visibility: visible;
        }

        .nav{
            width: 100%;
            list-style: none;
            padding: 0;

            &__item{
                text-align: center;                
            }
            &__link{
                font-weight: 700;
                font-size: 20px;
                line-height: 40px;
                /* identical to box height, or 200% */
                text-decoration: none;
                text-align: center;
                letter-spacing: 1.36364px;

                color: #FFFFFF;

            }
            
        }
        &__view{
            border: 1.5px solid #FFFFFF;
            padding: 13px 28.5px;
            text-decoration: none;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1.5px;
            color: white;
            width: 100%;
            max-width: 327px;
            margin-top: 30px;
        }
    }
}






// // .btn-basic{
// //     padding: 5px 14px;
// //     background-color: transparent;
// //     border: none;
// //     border-radius: 5px;
// //     transition: box-shadow .8s;
// //         box-shadow:  0 0 3px black;

// //     &:hover{
// //         box-shadow:  0 0 5px black;
// //         cursor: pointer;

// //     }
// // }

// // .btn-danger{
// //     @extend .btn-basic;
// //     background-color: rgb(252, 112, 112);
// //     color: white;
// // }

// // .btn-success{
// //     @extend .btn-basic;
// //     background-color: rgb(105, 212, 17);
// //     color: white;
// // }

// // .btn-primary{
// //     @extend .btn-basic;
// //     background-color: rgb(112, 121, 252);
// //     color: white;
// // }


// .element{
//     width: 400px;
//     height: 400px;
//     background-color: aqua;
//     margin: auto;
//     margin-top: 30px;
// }
// @media print {
//     .element{
//         background-color: rgb(23, 83, 248);
//         color: white;
//     }
// }

// @media screen and (max-width: 1000px) {
//     .element{
//         background-color: green;
//     }
// }


// @media screen and (min-height: 600px) and ( max-height: 900px ) {
//     .element{
//         background-color: red;
//     }
// }

